{% extends 'base.html' %} {% load static %} 
{% block title %}
<title>{{ post.post_title }}</title>
{% endblock title %}
{% block content %}
<section class="row m-0 new-detail">
  <div class="col-md-2 col-12 aside-left mt-2 p-0">
    <div class="col-left mb-2">
      <div class="title-top">
        <p>Giới thiệu</p>
      </div>
      <div class="list-left">
        <ul>
          <li>
            <a href="#">Giới thiệu chung</a>
          </li>
          <li>
            <a href="#">Lịch sử văn hoá</a>
          </li>
          <li>
            <a href="#">Thắng cảnh - du lịch</a>
          </li>
          <li>
            <a href="#">Điều kiện tự nhiên</a>
          </li>
        </ul>
      </div>
      <a href="#"> <img class="d-block w-100" src="{% static 'img/ubnd.jpg' %}" alt="col-left img" /> </a>
    </div>

    <div class="col-left mb-2">
      <div class="title-top">
        <p>Lấy ý kiến góp ý</p>
      </div>
      <div class="list-left">
        <ul>
          <li>
            <a href="#">Góp ý dự thảo văn bản quy phạm pháp luật</a>
          </li>
          <li>
            <a href="#">Góp ý các quy định hành chính</a>
          </li>
          <li>
            <a href="#">Hỏi & đáp</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-left mb-2">
      <div class="title-top">
        <p>Hệ thống văn bản</p>
      </div>
      <div class="list-left">
        <ul>
          <li>
            <a href="#">Văn bản chỉ đạo điều hành</a>
          </li>
          <li>
            <a href="#">Văn bản quy phạm pháp luật</a>
          </li>
          <li>
            <a href="#">Công báo</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-left mb-2">
      <div class="title-top">
        <p>Báo cáo, thống kê</p>
      </div>
      <div class="list-left">
        <ul>
          <li>
            <a href="#">Thông tin Kinh tế - Xã hội</a>
          </li>
          <li>
            <a href="#">Chỉ số giá tiêu dùng</a>
          </li>
          <li>
            <a href="#">Một số chỉ tiêu chủ yếu</a>
          </li>
          <li>
            <a href="#">Số liệu vốn đầu tư</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-12 mt-2">
    <div class="news-main">
      <div class="title-detail">
        <p class="text-uppercase p-2">Hoạt động gdpl - Địa phương</p>
      </div>
      {% comment %} <div class="content-detail px-3 pb-2 ">
        <div class="header-title ">
          <h1 class="">Hội nghị phổ biến một số Luật mới ban hành tại huyện Đắk Glong</h1>
          <div class="top-panel pl-2 text-muted">Thứ tư, 30/08/2023, 10:55</div>
          <div class="second-title text-justify">
            Ngày 02/8, Hội đồng phối hợp phổ biến giáo dục pháp luật huyện Đắk Glong tổ chức hội nghị phổ biến Luật Thực hiện Dân chủ ở cơ sở năm 2022 và Luật Phòng, chống bạo lực gia đình năm 2022;
            cấp phát Luật Thanh tra năm 2022 và Luật Thi đua, khen thưởng năm 2022.
          </div>
        </div>
        <p>
          Tham dự có lãnh đạo các phòng, ban, đơn vị, lãnh đạo Đảng ủy, HĐND-UBND các xã; các Báo cáo viên pháp luật, tuyên truyền viên cơ sở, công an xã, xã đội, công chức văn hóa xã, công chức văn
          phòng – thống kê xã, công chức tư pháp – hộ tịch xã.
        </p>
        <div class="text-center">
          <img class="d-block w-100" src="{% static 'img/carousel1.png' %}" />
          <i class="text-muted">Toàn cảnh Hội nghị</i>
        </div>
        <p>
          Phát biểu khai mạc tại Hội nghị, Phó Chủ tịch UBND huyện, Chủ tịch Hội đồng phối hợp phổ biến giáo dục pháp luật huyện Đoàn Văn Phương khẳng định: Việc triển khai tuyên truyền, phổ biến,
          quán triệt các nội dung cơ bản của một số Luật mới ban hành trên địa bàn huyện nhằm nâng cao chất lượng hiệu quả công tác tuyên truyền, phổ biến giáo dục pháp luật và ý thức trách nhiệm của
          mỗi cán bộ, công chức, viên chức trong việc thực hiện và chấp hành pháp luật là rất cần thiết. Để các Luật mới đi vào cuộc sống, đề nghị lãnh đạo các phòng, ban, đơn vị và UBND các xã lĩnh
          hội chủ động tổ chức Hội nghị để tuyên truyền, phổ biến đến cán bộ và Nhân dân nắm bắt được các nội dung cơ bản, quan trọng của Luật Thực hiện Dân chủ ở cơ sở năm 2022 và Luật Phòng chống
          bạo lực gia đình năm 2022.
        </p>

        <p>
          Tại hội nghị với tinh thần nghiêm túc, trách nhiệm, các đại biểu đã nghe ông Dương Tín Hòa - Trưởng phòng Văn bản và Phổ biến pháp luật, Sở Tư pháp - Báo cáo viên cấp tỉnh quán triệt các nội
          dung cơ bản của Luật Thực hiện dân chủ ở cơ sở năm 2022; Luật Phòng, chống bạo lực gia đình năm 2022. Cụ thể Luật Thực hiện dân chủ ở cơ sở năm 2022 có hiệu lực thi hành từ ngày 1/7/2023,
          bao gồm 91 điều quy định về nội dung, cách thức thực hiện dân chủ ở cơ sở, quyền và nghĩa vụ của công dân trong thực hiện dân chủ ở cơ sở và trách nhiệm của các cơ quan, đơn vị, tổ chức, cá
          nhân trong việc bảo đảm thực hiện dân chủ ở cơ sở.
        </p>

        <p>
          Luật Phòng, chống bạo lực gia đình năm 2022 gồm 6 chương, 56 điều, tăng 10 điều so với Luật năm 2007, trong đó có một số điểm mới như: Tiếp cận dựa trên quyền con người; chủ động phòng ngừa
          bạo lực gia đình; các biện pháp bảo vệ, hỗ trợ, xử lý vi phạm trong phòng, chống bạo lực gia đình…
        </p>

        <p class="font-weight-bold text-right ">Nguyễn Hồng</p>
      </div> {% endcomment %}
      <div class="content-detail px-3 pb-2">
        {% comment %} top content {% endcomment %}
        <div class="header-title ">
          <h1 class="">{{ post.post_title }}</h1>
          {% comment %} box date {% endcomment %}
          <div class="top-panel pl-2 text-muted">{{ post.post_date }}</div>
          <div class="second-title text-justify">
            {{description_text}}
          </div>
        </div>
        <div class='content-body'>

          {{post.post_content|safe}}
        </div>
        <p class="font-weight-bold text-right ">{{post.post_author.display_name}}</p>
      </div>
    </div>

    <div class="news-other">
      <div class="news-other-title">
        <p class="text-uppercase text-danger font-weight-bold p-2 m-0">Tin Liên Quan</p>
      </div>
      <div class="content-second text-justify" >
        <ul class="news-other-list ">
          <li>
            <a href="#"> Co.opmart, Co.opxtra tăng khuyến mãi, lượng hàng từ 20 – 30% dịp lễ 2/9 </a>
            <span class="text-muted">(30/08)</span>
          </li>
          <li>
            <a href="#"> Khai mạc Hội chợ Quốc tế Đồ gỗ và Mỹ nghệ xuất khẩu Việt Nam ASEAN 2023 </a>
            <span class="text-muted">(29/08)</span>
          </li>
          <li>
            <a href="#"> Nghiên cứu cập nhật hoàn thiện các nội dung trong Đồ án quy hoạch xử lý chất thải rắn TPHCM đến năm 2025, tầm nhìn đến 2050 </a>
            <span class="text-muted">(29/08)</span>
          </li>
          <li>
            <a href="#">
              Xây dựng Nghị quyết quy định tiêu chí, tiêu chuẩn, lộ trình, điều kiện, định mức, đơn giá, giá đặt hàng đối với các nhà đầu tư chuyển đổi công nghệ sang xử lý chất thải rắn sinh hoạt có
              thu hồi năng lượng
            </a>
            <span class="text-muted">(28/08)</span>
          </li>
          <li>
            <a href="#"> Tăng cường công tác quản lý, sử dụng đèn, còi phát tín hiệu ưu tiên theo các phương tiện xe ô tô cứu thương </a>
            <span class="text-muted"> (28/08)</span>
          </li>
        </ul>
      </div>
    </div>
     <div class="box-comment mb-3">
        <div class="box-comment-title">
            <p class="text-uppercase text-danger font-weight-bold p-2 m-0">Bình Luận</p>
        </div>
        <div class="box-comment-form ">
            <form class="form-group">
                <div class="mb-3">
                  <label for="" class="form-label"></label>
                  <textarea class="form-control" name="" id="" rows="3" placeholder=" nhập bình luận tại đây..."></textarea>
                </div>
                <a name="" id="" class="btn btn-primary " href="#" role="button">Gửi Bình Luận</a>
            </form>
            <div class="bottom-panel pl-2 ">Ý KIẾN BẠN ĐỌC (0)</div>
        </div>
     </div>
  </div>
  <div class="col-md-2 col-12 aside-right mt-2 p-0">
    <div class="col-left mb-2">
      <a href="#"> <img class="d-block w-100" src="{% static 'img/mapdaknong.jpg' %}" alt="col-left img" /> </a>
      <div class="title-top">
        <p>Quy hoạch, phát triển</p>
      </div>
      <div class="list-left">
        <ul>
          <li>
            <a href="#">Chiến lược, định hướng, kế hoạch phát triển ngành </a>
          </li>
          <li>
            <a href="#">Quy hoạch xây dựng </a>
          </li>
          <li>
            <a href="#">Bản đồ quy hoạch đô thị </a>
          </li>
          <li>
            <a href="#">Quy hoạch, kế hoạch sử dụng đất </a>
          </li>
          <li>
            <a href="#">Quy hoạch thu gom, tái chế, xử lý chất thải</a>
          </li>
          <li>
            <a href="#">Các khu vực có nguy cơ xảy ra ô nhiễm môi trường</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-left mb-2">
      <div class="title-top">
        <p>Thông tin, tuyên truyền</p>
      </div>
      <div class="list-left">
        <ul>
          <li>
            <a href="#">Học và làm theo lời Bác </a>
          </li>
          <li>
            <a href="#">Chế độ, chính sách mới </a>
          </li>
          <li>
            <a href="#">Tuyên truyền phổ biến pháp luật về Khiếu nại tố cáo </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-left mb-2">
      <div class="title-top">
        <p>Chỉ đạo, điều hành</p>
      </div>
      <div class="list-left">
        <ul>
          <li>
            <a href="#">Văn bản chỉ đạo điều hành</a>
          </li>
          <li>
            <a href="#">Tin tức chỉ đạo điều hành </a>
          </li>
          <li>
            <a href="#">Thông tin khen thưởng </a>
          </li>
          <li>
            <a href="#">Lịch công tác của Thường trực UBND Thành phố </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-left mb-2">
      <div class="title-top">
        <p>An ninh trật tự</p>
      </div>
      <div class="list-left">
        <ul>
          <li>
            <a href="#">An ninh trật tự</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
