{% extends 'manager/base.html' %} 
{% load static %}
{% block contentwrapper %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            Tin Tức <a href=""><i class="bi bi-file-plus text-primary"></i></a>
          </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <!-- general form elements disabled -->
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Thêm Mới Tin Tức</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form method="post" action="{% url 'add_news' %} "enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-6">
                <label>Tác giả/Người viết:</label>
                <select class="form-control" name="post_author">
                  {% for user in users %}
                  <option value="{{ user.id }}">{{ user.display_name }}</option>
              {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <label>Ngày đăng:</label>
                <input value='{{date_now}}' class="form-control" type="datetime-local" id="publish_date" name="post_date" />
            </div>
            <div class="col-sm-6">
              <!-- select -->
              <div class="form-group">
                  <label>Loại bài viết</label>
                  <select class="form-control" name="post_type">
                    <option value="article">Bài viết (Article)</option>
                    <option value="homepage-post">Bài viết trang chủ (Homepage Post)</option>
                    <option value="summary-post">Bài viết tóm tắt (Summary Post)</option>
                    <option value="video-post">Bài viết video (Video Post)</option>
                    <option value="image-post">Bài viết hình ảnh (Image Post)</option>
                    <option value="audio-post">Bài viết âm thanh (Audio Post)</option>
                    <option value="gallery-post">Bài viết thư viện (Gallery Post)</option>
                    <option value="review-post">Bài viết đánh giá (Review Post)</option>
                    <option value="analysis-post">Bài viết phân tích (Analysis Post)</option>
                    <option value="opinion-post">Bài viết chia sẻ ý kiến (Opinion Post)</option>
                      <!-- Thêm các giá trị khác tùy theo nhu cầu của bạn -->
                  </select>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- select -->
              <div class="form-group">
                  <label>Danh mục</label>
                  <select class="form-control" name="taxonomies">
                    {% for tt in taxonomies %}
                      <option value="{{tt.id}}">{{tt.term.name}} - {{tt.taxonomy}}</option>
                    {% endfor %}
                    
                      <!-- Thêm các giá trị khác tùy theo nhu cầu của bạn -->
                  </select>
              </div>
            </div>
            <div class="col-sm-6">
                <!-- select -->
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" name="post_status">
                        <option>Đã Xuất Bản</option>
                        <option>Chờ Duyệt</option>
                        <option>Nháp</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">
                    <label>Tiêu Đề:</label>
                    <textarea class="form-control" rows="3" name="post_title" placeholder="Enter ..."></textarea>
                </div>
            </div>
            <div class="col-sm-12 form-group">
              <label class="col-form-label" for="description">Mô tả:</label>
              <textarea class="form-control" rows='3' id="description" name="description" placeholder="Enter ..."></textarea>
          </div>
            <div class="col-sm-12">
                <!-- text input -->
                <div class="form-group">
                    <label>Nội Dung:</label>
                    <div class="card-body pad" >
                        <div class="mb-3 h-100">
                            <textarea row='10' class="textarea " name="post_content" placeholder="Place some text here"
                                style="width: 100%;  font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-6 form-group">
                <label class="col-form-label" for="tags">Thẻ/Tags:</label>
                <input class="form-control" type="text" id="tags" name="tags" />
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-form-label" for="image">Hình ảnh đại diện:</label>
                <div class="input-box d-flex align-items-center">
                    <label class="picture" for="post_image" tabIndex="0">
                        <span class="picture_image"></span>
                    </label>
                    <input hidden type="file" name="featured_image" class="form-control-file" id="post_image" multiple />
                </div>
            </div>
        </div>
        
          <div class="card-footer d-flex justify-content-end mr-4">
            <button type="submit" class="btn btn-primary mr-4">Lưu</button>
            <button type="button" class="btn btn-danger">Hủy</button>
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <script>
    const inputFile = document.querySelector("#post_image");
    const productImage = document.querySelector(".picture_image");
    const pictureImageTxt = "Chọn ảnh mới";
    productImage.innerHTML = pictureImageTxt;

    inputFile.addEventListener("change", function(e) {
        const inputTarget = e.target;
        const file = inputTarget.files[0];

        if (file) {
            const reader = new FileReader();

            reader.addEventListener("load", function(e) {
                const readerTarget = e.target;

                const img = document.createElement("img");
                img.src = readerTarget.result;
                img.classList.add("picture_img");

                productImage.innerHTML = "";
                productImage.appendChild(img);
            });

            reader.readAsDataURL(file);
        } else {
            productImage.innerHTML = pictureImageTxt;
        }
    });
</script>
</div>
{% endblock contentwrapper %}
