{% extends 'manager/base.html' %}
{% load static %}
{% block contentwrapper %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Danh mục  <a href=""><i class="bi bi-file-plus text-primary"></i></a></h1>
          </div>

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content row m-0">
      <div class="card col-xl-8 col-table">
        <div class="card-header bg-blue mb-1">
          <h3 class="card-title">Danh sách phân loại danh mục</h3>
        </div>
        <table id="table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="col-1">Stt</th>
              <th class="">Danh Mục</th>
              <th>Phân loại</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            {% for taxonomy in taxonomies %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td class=" ">{{ taxonomy.term.name }}</td>
              <td class="">{{ taxonomy.taxonomy }}</td>
              <td>
                <div class="button_TG ml-3 d-flex">
                  <button class="btn btn-xs btn-primary mr-4">
                    <a class="nav-link active text-white" href=""><i class="bi bi-eye"></i> </a>
                  </button>
                  <button class="btn btn-xs btn-success mr-4">
                    <a class="nav-link active text-white" href="#revenue-chart" data-toggle="tab"><i class="bi bi-pencil"></i> </a>
                  </button>
                  <button class="btn btn-xs btn-danger">
                    <a class="nav-link active text-white" href=""><i class="bi bi-trash3"></i> </a>
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Stt</th>
              <th class="col-3">Danh Mục</th>
              <th>Phân loại</th>
              <th>Thao tác</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- general form elements disabled -->
      <div class="card card-warning col-xl-4">
        <div class="card-header bg-blue">
          <h3 class="card-title">Thêm Phân Loại Danh Mục Mới</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form method="post" action="{% url 'add_term_taxanomy' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">
                <!-- Danh Mục -->
                <div class="form-group">
                  <label>Danh Mục:</label>
                  <select class="form-control" name="term" id="term">
                    {% for term in terms %}
                    <option value="{{ term.id }}">{{ term.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-12">
                <!-- Taxonomy -->
                <div class="form-group">
                  <label>Phân loại:</label>
                  <input type="text" class="form-control" name="taxonomy" id="name" placeholder="Nhập taxonomy ..." />
                </div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-end mr-4">
              <button type="submit" id="save-btn" class="btn btn-primary mr-4">Lưu</button>
              <button type="reset" class="btn btn-danger">Hủy</button>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
    </section>
  <script>
    $(function () {
      $("#table").DataTable({
        responsive: true,
        autoWidth: false,
        "language": {
          "lengthMenu": "Hiển thị : _MENU_  hàng",
          "zeroRecords": "Không tìm thấy kết quả nào",
          "info": "Trang _PAGE_ của _PAGES_",
          "infoEmpty": "Không có dữ liệu",
          "infoFiltered": "(được lọc từ tổng số _MAX_ hàng)",
          "search": "Tìm kiếm:",
          "paginate": {
              "first": "Đầu",
              "last": "Cuối",
              "next": "Tiếp",
              "previous": "Trước"
          }
        }
      });
    });
  </script>
</div>
{% endblock contentwrapper %}